apscheduler==3.11.0 ; python_version >= "3.13"
cachetools==5.5.2 ; python_version >= "3.13"
certifi==2025.4.26 ; python_version >= "3.13"
charset-normalizer==3.4.1 ; python_version >= "3.13"
dotenv==0.9.9 ; python_version >= "3.13"
google-auth-oauthlib==1.2.2 ; python_version >= "3.13"
google-auth==2.39.0 ; python_version >= "3.13"
gspread==6.2.0 ; python_version >= "3.13"
idna==3.10 ; python_version >= "3.13"
numpy==2.2.5 ; python_version >= "3.13"
oauthlib==3.2.2 ; python_version >= "3.13"
pandas==2.2.3 ; python_version >= "3.13"
pyasn1-modules==0.4.2 ; python_version >= "3.13"
pyasn1==0.6.1 ; python_version >= "3.13"
pyTelegramBotAPI==4.26.0 ; python_version >= "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.13"
python-dotenv==1.1.0 ; python_version >= "3.13"
pytz==2025.2 ; python_version >= "3.13"
requests-oauthlib==2.0.0 ; python_version >= "3.13"
requests==2.32.3 ; python_version >= "3.13"
rsa==4.2 ; python_version >= "3.13"
six==1.17.0 ; python_version >= "3.13"
tzdata==2025.2 ; python_version >= "3.13"
tzlocal==5.3.1 ; python_version >= "3.13"
urllib3==2.4.0 ; python_version >= "3.13"
