apscheduler==3.11.0 ; python_version >= "3.12"
cachetools==5.5.2 ; python_version >= "3.12"
certifi==2025.4.26 ; python_version >= "3.12"
charset-normalizer==3.4.1 ; python_version >= "3.12"
dotenv==0.9.9 ; python_version >= "3.12"
google-auth-oauthlib==1.2.2 ; python_version >= "3.12"
google-auth==2.39.0 ; python_version >= "3.12"
gspread==6.2.0 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
numpy==2.2.5 ; python_version >= "3.12"
oauthlib==3.2.2 ; python_version >= "3.12"
pandas==2.2.3 ; python_version >= "3.12"
pyasn1-modules==0.4.2 ; python_version >= "3.12"
pyasn1==0.6.1 ; python_version >= "3.12"
pyTelegramBotAPI==4.26.0 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
python-dotenv==1.1.0 ; python_version >= "3.12"
pytz==2025.2 ; python_version >= "3.12"
requests-oauthlib==2.0.0 ; python_version >= "3.12"
requests==2.32.3 ; python_version >= "3.12"
rsa==4.2 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12"
tzlocal==5.3.1 ; python_version >= "3.12"
urllib3==2.4.0 ; python_version >= "3.12"
