name: Deploy

on: workflow_dispatch

env:
  DOCKER_HOST: ${{ vars.DOCKER_HOST }}

jobs:
  run_pull:
    name: Run, Pull and Docker Run
    runs-on: ubuntu-latest

    steps:
      - name: install ssh keys
        # check this thread to understand why its needed:
        # https://stackoverflow.com/a/70447517
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh

          echo "${{ secrets.SSH_PRIVATE_KEY }}" | tr -d '\r' > ~/.ssh/id_ed25519
          chmod 400 ~/.ssh/id_ed25519

          eval $(ssh-agent -s)
          ssh-add ~/.ssh/id_ed25519

          ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts

          ssh -i ~/.ssh/id_ed25519 -o StrictHostKeyChecking=no -T ${{ vars.SSH_USER }}@${{ vars.SSH_HOST }} echo "Host verified"

      - uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo "BOT_TOKEN=${{ secrets.BOT_TOKEN }}" >> .env
          echo "MOA_API_KEY=${{ secrets.MOA_API_KEY }}" >> .env
          echo "MOA_CHAT_ID=${{ vars.MOA_CHAT_ID }}" >> .env
          echo "MOA_EMAIL=${{ vars.MOA_EMAIL }}" >> .env
          echo "MOA_TABLE_ID_DAILY=${{ vars.MOA_TABLE_ID_DAILY }}" >> .env
          echo "MOA_TABLE_ID_SCHEDULE=${{ vars.MOA_TABLE_ID_SCHEDULE }}" >> .env
          echo -e "GOOGLE_CREDS=\"$(echo '${{ secrets.GOOGLE_CREDS }}' | base64)\"" >> .env
        shell: bash

      - name: connect and pull
        run: |
          docker login --username ${{ github.actor }} --password ${{ secrets.GH_PAT }} ghcr.io
          docker compose up -d --pull always --remove-orphans --force-recreate --wait --wait-timeout 30
          docker ps

      - name: cleanup
        run: rm -rf ~/.ssh
